.container-fluid {
  margin-top: 70px;
  margin-left:2px;
  margin-right: 360px;
  width: auto;
}

.card {
  border: none;
}

.card-img {
  height: 100%;
}

.card-body {
  padding: 1rem;
}

.btn-marino {
  background-color: #1a1a2e;
  border-color: #1a1a2e;
}

.btn-marino:hover {
  background-color: #0a0a16;
  border-color: #0a0a16;
}
