<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="card mt-4">
            <img src="https://via.placeholder.com/300" class="card-img" alt="Imagen de ejemplo">
            <div class="card-body">
              <h5 class="card-title">Título de la tarjeta</h5>
              <p class="card-text">Descripción de la tarjeta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tortor sed urna tristique cursus. Fusce facilisis consectetur aliquet. Fusce eu volutpat sapien. Donec id dignissim ipsum, sit amet volutpat mi.</p>
              <button class="btn btn-primary btn-marino">Botón de color azul marino</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mt-4">
            <img src="https://via.placeholder.com/300" class="card-img" alt="Imagen de ejemplo">
            <div class="card-body">
              <h5 class="card-title">Título de la tarjeta</h5>
              <p class="card-text">Descripción de la tarjeta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tortor sed urna tristique cursus. Fusce facilisis consectetur aliquet. Fusce eu volutpat sapien. Donec id dignissim ipsum, sit amet volutpat mi.</p>
              <button class="btn btn-primary btn-marino">Botón de color azul marino</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mt-4">
            <img src="https://via.placeholder.com/300" class="card-img" alt="Imagen de ejemplo">
            <div class="card-body">
              <h5 class="card-title">Título de la tarjeta</h5>
              <p class="card-text">Descripción de la tarjeta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tortor sed urna tristique cursus. Fusce facilisis consectetur aliquet. Fusce eu volutpat sapien. Donec id dignissim ipsum, sit amet volutpat mi.</p>
              <button class="btn btn-primary btn-marino">Botón de color azul marino</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
