<div class="aria-label">
  <h1>
    All Genres
  </h1>

  <hr style="color: #1c313a;" size="5" />
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row d-flex">
        <div class="col-md-4" *ngFor="let genre of genres">
          <div class="card mt-4">
            <img src='{{ genre.image_background }}' class="card-img" alt="image">
            <div class="card-body">
              <h5 class="card-title"> {{ genre.name }}</h5>
              <p class="card-text"> <strong> {{ genre.name }} games: </strong> {{ genre.games_count }} </p>
              <a [routerLink]="['/genres/', genre.id]" class="btn btn-primary btn-marino"> View games </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

