.btn-marino {
  background-color: #1a1a2e;
  border-color: #1a1a2e;
}

.btn-marino:hover {
  background-color: #0a0a16;
  border-color: #0a0a16;
}

.card-img{
  height: 200px;
}

.card {
  border: none;
}
