<div class="aria-label">
  <h1>
    Action Games
  </h1>

  <hr style="color: #1c313a;" size="5" />
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row d-flex">
        <div class="col-md-4" *ngFor="let genre of genres">
          <div class="card mt-4">
            <img src='{{ genre.background_image }}' class="card-img" alt="image">
            <div class="card-body">
              <h5 class="card-title"> {{ game.name }} </h5>
              <p class="card-text"> <strong> Rating in Metacritic: </strong> {{ game.metacritic }} </p>
              <p class="card-text"> <strong> Released: </strong> {{ game.released }} </p>
              <p class="card-text"> <strong> Description: </strong> {{ game.description }} </p>
              <button class="btn btn-primary btn-marino"> Details </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btn-page" role="group" aria-label="First group">
  <button type="button" class="btn btn-dark"> 1 </button>
  <button type="button" class="btn btn-dark"> 2 </button>
  <button type="button" class="btn btn-dark"> 3 </button>
  <button type="button" class="btn btn-dark"> 4 </button>
</div>
