<div class="aria-label">
  <h1>
    About Us
  </h1>

  <hr style="color: #1c313a;" size="5" />
</div>

<body>
  <p>We are a passionate independent gaming group that loves playing video games, discussing them,
    and sharing our experiences with others. We believe that gaming is more than just entertainment
    - it’s a way of life!
  </p>
  <p>Our journey began when we discovered the RAW.io API and realized the potential it had to offer.
    We saw an opportunity to create a platform where we could not only showcase our love for gaming,
    but also provide a space for others to do the same.
  </p>
  <p>With hard work, dedication, and a lot of coffee, we created Games Catalog using RAW.io - a platform for gamers by gamers.
    Our goal is to create a community of like-minded individuals who share our passion for gaming and who want
    to connect with others who feel the same.
  </p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15724.194184931926!2d-84.32317284999999!3d9.84628995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa1abcde60dde11%3A0xbe4e495e913ab992!2sEyV%20Technology!5e0!3m2!1ses!2scr!4v1682690288912!5m2!1ses!2scr" width="600" height="450" style="border:0; margin-left: 250px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>
