/* Código CSS del topbar */
.navbar {
  background-color: #1c313a;
}

.navbar-brand,
.navbar-nav li a {
  color: #fff;
}

.navbar-nav li a:hover {
  color: #18bc9c;
}

.navbar-brand{
  margin-left: 17px;
}

.nav-link{
  margin-right: 17px;
}
