<!-- Estructura HTML del sidebar con títulos y subtítulos -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span> <strong> | GENRES | </strong> </span>
              <a class="d-flex align-items-center text-muted" href="#">
                <i class="fa fa-plus"></i>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'action'"> Action </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'strategy'"> Strategy </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> RPG </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Shooter </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Adventure </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Puzzle </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Racing </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Sports </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span> <strong> | PLATFORMS | </strong> </span>
              <a class="d-flex align-items-center text-muted" href="#">
                <i class="fa fa-plus"></i>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#"> PC </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> PlayStation 4 | 5 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Xbox One | Series </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Nintendo Switch </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> iOS </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Android </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
